<% content_for :page_title do %>
  <%= Spree.t(:analytics) %>
<% end %>

<%= render 'spree/admin/shared/vue_component' do %>
  <gapi-auth
    ga-token="<%= @ga_token %>"
    ga-view-id="<%= @ga_view_id %>"
    v-slot="{ gapi, authorized, gaViewId }">
    <reports-with-date v-slot="{ startDate, endDate }">
      <totals-report :gapi="gapi"
                     :authorized="authorized"
                     :ga-view-id="gaViewId"
                     :startDate="startDate"
                     :endDate="endDate"/>
    </reports-with-date>
  </gapi-auth>
<% end %>


<% unless @reports.empty? %>
  <table class="table mt-5">
    <thead>
    <tr data-hook="reports_header">
      <th><%= Spree.t(:name) %></th>
    </tr>
    </thead>
    <tbody>
    <% @reports.each do |name| %>
      <tr data-hook="reports_row">
        <td><%= link_to Spree.t(name), send("#{name.to_s}_admin_analytics_url".to_sym) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
